@font-face {
    font-family: "Manufaktur";
    src: local("Manufaktur Black"), local("Manufaktur-Black"), url("Manufaktur-Black.woff2") format("woff2"),
        url("Manufaktur-Black.woff") format("woff"), url("Manufaktur-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
