@import "./fonts/font";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a,
a:hover,
a:active {
  color: initial;
  text-decoration: none !important;
}

$main-theme-color: #313667;
$main-body-color: #242450;
$main-border-color: #151538;
$btn-color: #59598e;
$btn-border-color: #151538;
$left-aside-box: #444e89;
$main-font: "Manufaktur";

body {
  padding: 0;
  // font-family: $main-font !important;
  background: url("../../../public/Img/heroimage.png") $main-body-color fixed !important;
  background-size: 100% 100%;
  color: #fff;
  .hompage-header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 110px;
    left: 0;
    z-index: 9;
    padding-top: 15px;
    &.header-active {
      background-color: $main-body-color;
      box-shadow: 0px 0px 26px #00000054;
    }
  }
  .homeLayout {
    & > main {
      min-height: calc(100vh - 190px);
      margin-top: 110px;
      .top_sectionMain {
        padding-top: 20vh !important;
        @media (max-width: 767px) {
          padding-top: 25px !important;
          & > .container .row {
            flex-direction: column-reverse;
            img {
              margin-bottom: 20px;
            }
          }
        }
      }
      .top_sectionMain,
      .loginPage,
      .SignUpNowSec,
      .forgotPassword {
        background-size: 100%;
        width: 100%;
        min-height: calc(100vh - 155px);
        padding-top: 30px;
        position: relative;
        .mainHeading {
          font-size: 4em;
          line-height: 1em;
          font-weight: 700;
          text-shadow: 0px 0px 6px $main-theme-color;
          margin-bottom: 3rem;
          @media (max-width: 1200px) {
            font-size: 3rem;
            margin-bottom: 1.5rem;
          }
          @media (max-width: 992px) {
            font-size: 2rem;
          }
          @media (max-width: 420px) {
            font-size: 24px;
          }
        }
        .project-detail-sec {
          width: 80%;
          padding: 40px 0px;
          text-align: center;
          // position: absolute;
          bottom: -100px;
          left: 50%;
          // transform: translateX(-50%);
          background-color: $main-theme-color;
          border-radius: 50px 0px 50px 0px;
          box-shadow: 0px 0px 25px #00000054;
          border: 3px solid $main-border-color;
          color: #fff;
          margin: 40px auto 0px;
          h2 {
            font-size: 2rem;
            font-weight: bold;
          }
          p {
            font-size: 1.5rem;
            width: 75%;
            margin: 10px auto;
          }
          @media (max-width: 992px) {
            @media (max-width: 800px) {
              position: static;
              transform: none;
              margin: 50px auto;
            }
            h2 {
              font-size: 23px;
            }
            p {
              font-size: 15px;
            }
            @media (max-width: 800px) {
              padding: 20px 10px;
            }
            @media (max-width: 420px) {
              border-radius: 20px 0;
              h2 {
                font-size: 14px;
              }
              p {
                font-size: 12px;
                width: 100%;
              }
            }
          }
        }
      }
      .community-sec {
        padding: 170px 0 50px;
        @media (max-width: 800px) {
          padding: 0px 0px 50px;
          h1 {
            font-size: 22px;
          }
          @media (max-width: 420px) {
            h1 {
              font-size: 14px;
            }
          }
        }
      }
      .developer-code {
        @media (max-width: 420px) {
          h2 {
            font-size: 24px;
          }
        }
      }
      .find-job {
        background-color: $main-theme-color;
        display: block;
        margin: 50px auto 0;
        padding: 40px 30px;
        color: #fff;
        @media (max-width: 420px) {
          padding: 30px 10px;
          h3,
          h2 {
            font-size: 24px;
          }
        }
      }
      .menuBtn {
        visibility: hidden;
        @media (max-width: 1200px) {
          visibility: visible;
        }
      }
      // for dashboard page styling
      .dashboard {
        min-height: calc(100vh - 180px);
        .main-dashboard-menue {
          display: flex;
          margin-bottom: 25px;
          // position: relative;
          aside {
            width: 18%;
            background-color: $left-aside-box;
            background-image: url(../../../public/Img/aside_bg.svg);
            height: calc(100vh - 180px);
            display: inline-block;
            background-size: cover;
            background-position: -5px 5px;
            border-radius: 38px;
            border: 5px solid $main-border-color;
            margin-left: 10px;
            overflow-x: hidden;
            // position: sticky;
            // top: 0;

            nav {
              ul {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-top: 25px;
                li {
                  position: relative;
                  a {
                    display: block;
                    color: #fff;
                    margin: 2px auto 0px;
                    padding: 8px 15px;
                    font-size: 15px;
                    border-top: 2px solid transparent;
                    border-bottom: 2px solid transparent;
                    span {
                      display: block;
                      font-size: 11px;
                      font-weight: normal;
                    }

                    &.active,
                    &:hover {
                      background-color: $main-theme-color;
                      color: #fff;
                      // font-weight: bold;
                      border-top: 2px solid $main-border-color;
                      border-bottom: 2px solid $main-border-color;
                    }
                    svg {
                      float: right;
                    }
                    &.dropDown_disable ~ ul {
                      display: none;
                    }
                    &.dropDown_disable ~ span {
                      transform: rotate(0deg);
                    }
                    &.showFirstTimeDopDown ~ ul,
                    &.dropDown_enable ~ ul {
                      display: inline-block;
                    }
                  }
                  span {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    color: #ffff;
                    cursor: pointer;
                    transition: all 0.5s;
                    padding: 10px;
                    transition: all 0.5s;
                    transform: rotate(-180deg);
                  }
                  ul {
                    margin-top: 0;
                    list-style-type: none;
                    // display: none;
                    li {
                      a {
                        padding-left: 15%;
                      }
                    }
                  }
                }
              }
            }
          }
          .right-side-dashboard-menu {
            width: 82%;
            display: inline-block;
            padding: 0px 2.5%;
            height: calc(100vh - 180px);
            overflow-y: auto;
            overflow-x: hidden;
          }

          @media (max-width: 1200px) {
            aside {
              position: fixed;
              z-index: 12;
              left: -300px;
              width: 280px;
              transition: all 0.5s;
            }
            .right-side-dashboard-menu {
              width: 100%;
            }
          }
        }
        &.sideBarActive aside {
          left: 10px !important;
        }
      }
    }
  }
}
.content-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  li {
    font-size: 24px;
    font-weight: bold;
    line-height: 4rem;
    color: #fff;
    @media (max-width: 800px) {
      font-size: 18px;
      font-weight: 400;
      line-height: 34px;
    }
  }
}

// for button css style
.btn-own {
  display: inline-block;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #fff;
  background-color: $btn-color;
  padding: 10px 30px;
  font-weight: 500;
  min-width: 200px;
  text-align: center;
  border-radius: 25px 0px 25px 0px;
  cursor: pointer;
  border: 2px solid $btn-border-color;
  margin: 10px auto;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px $main-theme-color;
    border-color: $main-theme-color;
    color: $main-theme-color;
  }
  &-outline {
    display: inline-block;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #fff;
    background-color: transparent;
    padding: 10px 30px;
    font-weight: 500;
    min-width: 200px;
    text-align: center;
    border-radius: 0px 25px 0px 25px;
    cursor: pointer;
    border: 2px solid $btn-color;
    margin: 10px auto;
    &:hover {
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 0px 0px 5px $main-theme-color;
      border-color: $btn-border-color;
    }
  }
  &:disabled {
    cursor: no-drop;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.26);
    border: none !important;
    box-shadow: none !important;
    color: #fff;
  }
  @media (max-width: 992px) {
    font-size: 13px;
    padding: 7px 15px;
    font-weight: 400;
    min-width: 100px;
    border-radius: 15px 0px;
    &-outline {
      font-size: 13px;
      padding: 7px 15px;
      font-weight: 400;
      min-width: 100px;
      border-radius: 0px 15px;
    }
  }
}
.text-main {
  color: $main-theme-color;
}
.bg-main {
  background-color: $main-theme-color;
}
.text-shadow {
  text-shadow: 0px 0px 10px $main-theme-color;
}
.container {
  max-width: 80% !important;
}

.css-binzgt {
  background-color: #fff;
  padding: 25px;
  border-radius: 25px;
  border: 2px solid $main-theme-color;
}
footer {
  background-color: #101732;
  color: #fff;
  height: 45px;
  display: flex !important;
  align-items: center;
  @media (max-width: 800px) {
    height: auto;
    padding: 12px 0px;
  }
}
.screenLoader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  flex-direction: column;
  h2 {
    margin-top: 30px;
  }
  .css-18lrjg1-MuiCircularProgress-root {
    width: 75px !important;
    height: 75px !important;
  }
}
.css-binzgt {
  margin-top: 0px !important;
}
.paymentSuccess {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.paymentSuccess {
  .css-i4bv87-MuiSvgIcon-root {
    font-size: 10rem !important;
    color: #24e924;
  }
}
.styled-img {
  border-radius: 35px 0px;
  @media (max-width: 800px) {
    border-radius: 18px 0px;
  }
}
.scrolToTop {
  position: fixed;
  bottom: -50px;
  right: 30px;
  background-color: $main-theme-color;
  border: 0px;
  outline: 0;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s;
  z-index: 99;
  &.show {
    bottom: 10px;
  }
  svg {
    font-size: 2rem;
  }
}

// challenge-card start
.challenge-card {
  background: url(../../../public/Img/card-img.svg) $left-aside-box;
  margin: 10px auto;
  background-size: cover;
  margin: 15px 0;
  border: 4px solid #151538;
  border-radius: 20px;
  .card-logo {
    width: 100%;
    height: auto;
    object-fit: revert;
    border-radius: 10px;
    display: block;
    margin: auto;
    box-shadow: 0px 0px 4px #fff;
  }
  .price-container {
    .price {
      background-color: $main-theme-color;
      padding: 5px 12px;
      border-radius: 10px;
      display: flex;
    }
  }
}
.tags {
  margin-bottom: 10px;
  .tag {
    background-color: #f44336;
    color: #fff;
    padding: 4px 10px;
    margin: 0px 5px;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    font-weight: 500;
  }
}

// scroll bar styling
::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  cursor: pointer;
  background-color: $main-border-color;
}
::-webkit-scrollbar-thumb {
  background-color: $main-theme-color;
}

// upload folder name
.Upload-folder-name {
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff !important;
  span {
    max-width: 600px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  svg {
    color: #fff !important;
    margin-right: 10px;
  }
}

/** ====================
 * Lista de Comentarios
 =======================*/

.comments-container h1 {
  font-size: 36px;
  color: #283035;
  font-weight: 400;
}

.comments-container h1 a {
  font-size: 18px;
  font-weight: 700;
}

.comments-list {
  margin-top: 30px;
  position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
// .comments-list:before {
//   content: "";
//   width: 2px;
//   height: calc(100% - 30px);
//   background: #c7cacb;
//   position: absolute;
//   left: 32px;
//   top: 0;
// }

.reply-list:before,
.reply-list:after {
  display: none;
}
// .reply-list li:before {
//   content: "";
//   width: 60px;
//   height: 2px;
//   background: #c7cacb;
//   position: absolute;
//   top: 25px;
//   left: -55px;
// }

.comments-list li {
  margin-bottom: 15px;
  display: block;
  position: relative;
}

.comments-list li:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  width: 0;
}

.reply-list {
  padding-left: 88px;
  clear: both;
  margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
  width: 65px;
  height: 65px;
  position: relative;
  z-index: 99;
  float: left;
  border: 3px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.comments-list .comment-avatar img {
  width: 100%;
  height: 100%;
}

.reply-list .comment-avatar {
  width: 50px;
  height: 50px;
}

.comment-main-level:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
  // float: right;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

// .comments-list .comment-box:before,
// .comments-list .comment-box:after {
//   content: "";
//   height: 0;
//   width: 0;
//   position: absolute;
//   display: block;
//   border-width: 10px 12px 10px 0;
//   border-style: solid;
//   border-color: transparent #fcfcfc;
//   top: 8px;
//   left: -11px;
// }

.comments-list .comment-box:before {
  border-width: 11px 13px 11px 0;
  border-color: transparent rgba(0, 0, 0, 0.05);
  left: -12px;
}

// .reply-list .comment-box {
//   width: calc(100% - 85px);
// }
.comment-box .comment-head {
  background: #fcfcfc;
  padding: 10px 12px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
  float: right;
  margin-left: 14px;
  position: relative;
  top: 2px;
  color: #a6a6a6;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
  color: #03658c;
}

.comment-box .comment-name {
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px;
}

.comment-box .comment-name a {
  color: #283035;
}

.comment-box .comment-head span {
  float: left;
  color: #999;
  font-size: 13px;
  position: relative;
  top: 1px;
}

.comment-box .comment-content {
  background: #fff;
  padding: 12px;
  font-size: 15px;
  color: #595959;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
  color: #03658c;
}
.comment-box .comment-name.by-author:after {
  content: "autor";
  background: #03658c;
  color: #fff;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
  .comments-container {
    width: 480px;
  }

  .comments-list .comment-box {
    width: 390px;
  }

  .reply-list .comment-box {
    width: 320px;
  }
}

// Profile Page Css
.profile-section {
  padding: 50px 25px;
  position: relative;
  background-color: $left-aside-box;
  border: 5px solid $main-border-color;
  background-image: url(../../../public/Img/aside_bg.svg);
  border-radius: 50px;
  background-size: 100%;
  @media (max-width: 800px) {
    padding: 25px 15px;
  }

  .about-text h3 {
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 6px;
  }
  .about-text h6 {
    font-weight: 600;
    margin-bottom: 15px;
  }

  .about-list {
    padding-top: 10px;
  }
  .about-list .media {
    padding: 5px 0;
  }
  .about-list label {
    background-color: $main-border-color;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    margin-right: 15px;
    border-radius: 5px;
    min-width: 90px;
    text-align: center;
  }
  .about-list p {
    margin: 0;
    font-size: 15px;
    color: #fff;
  }
}
.ifram-md-350 {
  @media (max-width: 1200px) {
    height: 350px !important;
    @media (max-width: 420px) {
      height: 200px !important;
    }
  }
}
.min-100 {
  min-width: 100px;
}
@media (max-width: 1200px) {
  .challenger-title {
    font-size: 22px;
  }
}
@media (max-width: 426px) {
  .profile-text {
    font-size: 28px !important;
  }
}
//  repo card styled
.repoCard {
  .repoName {
    font-size: 28px;
    width: 100%;
    word-break: break-all;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    .btn-own {
      font-size: 14px;
      max-width: 45% !important;
      min-width: 40%;
      &-outline {
        font-size: 14px;
        max-width: 45% !important;
        min-width: 40%;
        color: $main-border-color;
      }
    }
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    .tag {
      background-color: $main-theme-color;
    }
  }
}
.comment-box {
  position: relative;
  .replyButton {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
  }
}

// input attach file and comment
.input-comment-and-attach-file {
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px #000;
  & svg {
    color: #000;
  }
  .input-container-with-btn {
    textarea {
      width: 100%;
      resize: none;
      min-height: 75px;
      padding: 15px 10px;
      margin-top: 15px;
      margin-bottom: 10px;
    }
    .btn-box {
      justify-content: space-between;
      align-items: center;
      label {
        margin-bottom: 0;
        background-color: #fff;
        color: #000;
        cursor: pointer;
        box-shadow: 1px 1px 6px #151538;
        padding: 6px 10px;
        border-radius: 5px;
      }

      .btn-own-input {
        background-color: $main-theme-color;
        color: #fff;
        padding: 8px 10px;
        min-width: 100px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
